/*Clases reutilizables*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

ul li {
  float: left;
}

a {
  padding: 5px;
  text-decoration: none;
  color: #FFF;
  height: 30px;
  margin-right: 3px;
}

.background {
  background: rgba(255,255,255,.3);
  border-radius: 3px;
}

/*Definiendo estilos*/
body {
  background: #0079BF;
  font-family: Helvetica, sans-serif;
  color: #FFF;
}

/*----------Cabecera----------*/
header {
  width: 100%;
  text-align: justify;
  background: #0067A3;
  padding: 5px 10px;
  height: 40px;
  z-index: 1000;
}

header::after {
  width: 100%;
  content:"";
  display: inline-block;
}

header .navbar {
  display: inline-block;
  vertical-align: middle;
}

img {
  width: 80px;
  opacity: 0.5;
}

/*Centrar el logo*/
.logo {
  margin: auto;
}

.navbar input {
  background: rgba(255,255,255,.3);
  border: none;
}

/*Barra de menú*/
.menu-bar {
  height: 50px;
  padding: 10px;
}

.show-menu {
  margin-top: 5px;
  float: right;
}

/*----------Sección de tableros----------*/
#boards {
  padding: 0 10px;
}

.board {
  background: rgba(0,0,0,.12);
  cursor: pointer;
  width: 270px;
  padding: 10px;
  border-radius: 3px;
  color: rgba(255,255,255,.7);
}

.board:hover{
  background: rgba(0,0,0,.3);
}

/*----------Estilos js----------*/
.new-list {
  background-color: transparent;
  border: 1px solid #B9B9Ba;
  color: #000;
  display: block;
  margin-bottom: 5px;
  padding: 7px;
  width: 100%;
}

.new-list:focus {
  outline: none;
}

.input-board-js {
  background-color: #E2E4E6;
  padding: 5px;
}

.input-board-js:hover {
  background-color: #E2E4E6;
}

.btn-green {
  font-weight: 700;
  padding: 8px 15px;
  background-color: #5AAC44;
  border: none;
  border-radius: 3px;
  color: #FFF;
}

.name-list-js {
  color: #000;
  font-weight: 700;
  line-height: 1.5;
  height: 30px;
  padding: 3px;
  vertical-align: top;
}

.add-task-js {
  color: #838C91;
  display: block;
}

.task-input-js {
  width: 100%;
  font-family: Helvetica, sans-serif;
  padding: 8px;
  /*resize: none;*/
  margin-bottom: 5px;
  border: none;
}

.task-input-js:focus {
  outline: none;
}

.task-box-js {
  font-size: 14px;
  background-color: #FFF;
  color: #000;
  padding: 5px;
  border-radius: 2px;
  margin-bottom: 5px;
}
